[Unit]
Description=Jenkins
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ JAVA_HOME }}
Environment='JAVA_OPTS=-Djava.awt.headless=true'

[install]
WantedBy=multi-user.target

